{
  "SECRET_KEY": "local_secret_key_do_not_use_on_production",
  "DEBUG": "True",
  "ALLOWED_HOSTS": ["local.sandwhichi.com"],
  
  "CORS_ORIGIN_WHITELIST": ["local.sandwhichi.com:3000"],
  
  "AWS_S3_ACCESS_KEY_ID": "SUPER_SECRET",
  "AWS_S3_SECRET_ACCESS_KEY": "SUPER_SECRET",
  "RAW_IMAGE_BUCKET_BASE_URL": "SUPER_SECRET",
  "RAW_IMAGE_BUCKET_NAME": "SUPER_SECRET",
  "RAW_IMAGE_BUCKET_REGION_NAME": "ap-northeast-2",
  
  "EMAIL_HOST_USER": "SUPER_SECRET",
  "EMAIL_HOST_PASSWORD": "SUPER_SECRET",
  
  "DATABASE_MASTER_NAME": "sandwhichi",
  "DATABASE_MASTER_USER": "root",
  "DATABASE_MASTER_PASSWORD": "secret",
  "DATABASE_MASTER_HOST": "local.sandwhichi.com",
  "DATABASE_MASTER_PORT": "33061"
}
